@font-face {
	font-family: Source Code Pro;
	font-weight: lighter;
	src: url(../fonts/SourceCodePro-ExtraLight.ttf);
}

@font-face {
	font-family: Source Code Pro;
	font-weight: normal;
	src: url(../fonts/SourceCodePro-Light.ttf);
}

@font-face {
	font-family: Source Code Pro;
	font-weight: bold;
	src: url(../fonts/SourceCodePro-Semibold.ttf);
}

* {
	padding: 0;
	margin: 0;
	font-family: Source Code Pro;
	font-weight: normal;
}

body {
	width: 100%;
}

body > section {
	width: 100%;
	clear: both;
}

.header {
	background: url(../img/herengracht.jpg);
	background-size: cover;
	background-position: top left;
	padding: 6em 0;
}

.header h1 {
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	color: white;
	border-bottom: 2px solid white;
	padding-bottom: .3em;
	margin-bottom: .3em;
	font-size: 2em;
	text-transform: uppercase;
}

.header h2 {
	width: 90%;
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
	color: white;
	padding-bottom: .3em;
	margin-bottom: .3em;
	text-transform: uppercase;
}

.header img {
	display: block;
	width: 60%;
	margin: 0 auto;
	max-width: 300px;
}

/*Parallax Scrollz*/

section.scroll:(not(.header)) {
  padding: 4em;
}

section.scroll h1 {
  font-size: 2em;
  line-height: 150px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.scroll1 {
  background-image: url("../img/code.png");
  background-position: 10% 44%;
}

.scroll2 {
  background-image: url("../img/turntable.jpg");
  background-position: center 45%;
}

.scroll3 {
  background-image: url("../img/tele.jpg");
  background-position: center 75%;
}

/*Portfolio*/

.portfolio {
	padding: 5% 0;
}

body > section > figure {
	width: 80%;
	margin: auto;
	margin-top: 1em;
	position: relative;
}

body > section > figure img {
	width: 100%;
}

figure figcaption > h1 {
	text-align: center;
	font-size: .9em;
	padding: .2em 0;
	border-top: 2px solid rgba(8,112,184,.6);
	border-bottom: 2px solid rgba(8,112,184,.6);
	margin-top: .5em;
}

figure div {
	width: calc(100% - 2em);
	padding: 1em;
	height: calc(100% - 2em);
	position: absolute;
	top: 0;
	background: rgba(0,0,0,.85);
	color: white;
	opacity: 0;
	-webkit-transition: opacity 750ms ease;
	   -moz-transition: opacity 750ms ease;
		-ms-transition: opacity 750ms ease;
		 -o-transition: opacity 750ms ease;
			transition: opacity 750ms ease;
}

figure:hover div {
	opacity: 1;
}

body > section > figure div.active {
	opacity: 1;
}

figure div h1 {
	text-transform: uppercase;
	font-size: 1.1em;
	border-bottom: 1px solid white;
	margin-bottom: .5em;
}

figure div p {
	font-size: .8em;
}

figure div aside {
	font-size: .8em;
	text-transform: uppercase;
	margin-top: .5rem;
}

figure div a{
	background: url(../img/link.png);
	background-size: contain; 
	width: 35px;
	height: 35px;
	display: block;
	-webkit-transition: background 500ms ease;
	   -moz-transition: background 500ms ease;
		-ms-transition: background 500ms ease;
		 -o-transition: background 500ms ease;
			transition: background 500ms ease;
	position: absolute;
	bottom: 1em;
	left: calc(50% - 17.25px);
}

figure div a:hover {
	background: url(../img/link1.png);
	background-size: contain; 
}

/*About & Contact*/

.about h1, .about p, .about section, .contact h1, .contact p, .contact section{
	padding: 5%;
}

.about p, .contact p {
	padding: 5% 0;
}

.about h1, .contact h1 {
	margin: auto;
	padding-left: 0;
	border-bottom: 2px solid #ffd64e;
}

.contact h1 {
	border-bottom: 2px solid #d24d53
}

.contact section, .about section {
	overflow: auto;
}

.about figure {
	width: 22%;
	float: left;
	margin: 5% 1.5% 0 1.5%;
}

.about figure, .contact figure {
    transform: translateZ(0);
	-webkit-transition: transform 0.3s ease;
	   -moz-transition: transform 0.3s ease;
		-ms-transition: transform 0.3s ease;
		 -o-transition: transform 0.3s ease;
			transition: transform 0.3s ease;
}

.about figure:hover, .contact figure:hover  {
    transform: scale(1.1);
}

.about figure img {
	width: 100%;
}

.about section figure figcaption, .contact section figure figcaption {
	text-transform: uppercase;
	text-align: center;
	font-size: .7em;
}

.contact a {
	display: block;
	width: 39%;
	margin: 5% 5%;
	float: left;
	text-decoration: none;
	color: #000;
}

.contact a figure img {
	width: 100%;
}

/* Elevator
           ELEVATE!
          /
     ____
   .'    '=====<0
   |======|
   |======|
   [IIIIII[\--()
   |_______|
   C O O O D
  C O  O  O D
 C  O  O  O  D
 C__O__O__O__D
[_____________]
*/

.elevator-button {
	width: 125px;
	margin: auto;
}

.elevator-button div{
	cursor: pointer;
	width: 35px;
	height: 62px;
	display: block;
	margin: auto;
	background: url(../img/tardis.png);
	background-size: cover;
	-webkit-transition: background 500ms ease;
	   -moz-transition: background 500ms ease;
		-ms-transition: background 500ms ease;
		 -o-transition: background 500ms ease;
			transition: background 500ms ease;
}

.elevator-button:hover div{
	background: url(../img/tardis-color.png);
	background-size: cover;
}

.elevator-button p {
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	padding: .8em 0;
	font-size: .8em;
	opacity: 0;
	-webkit-transition: opacity 500ms ease;
	   -moz-transition: opacity 500ms ease;
		-ms-transition: opacity 500ms ease;
		 -o-transition: opacity 500ms ease;
			transition: opacity 500ms ease;
}

.elevator-button:hover p {
	opacity: 1;
}

footer {
	text-align: center;
	text-transform: uppercase;
	font-size: .7em;
	padding: 1em 0;
}

/* Media Queries */

@media screen and (min-width: 680px){
	body > section > figure {
		width: 40%;
		float: left;
		margin: 2% 4.5%;
	}

	body > section {
		overflow: auto;
	}

	body > h1 {
		clear: both;
	}

	body > h1 {
		padding: 1.8em 0;
	}

	.contact a {
		width: 20%;
		margin: 2.5%;
	}

}

@media screen and (min-width: 768px){
	.about section {
		width: 46%;
		float: left;
	}
	
	.about h1, .about p, .about section, .contact h1, .contact p, .contact section{
		padding: 2%;
	}

	.about h1, .contact h1 {
		width: 94%;
		padding-left: 0;
	}
}

@media screen and (min-width: 1000px){
	body > section > figure {
		width: 30%;
		margin: 1em 1.6%;
	}

	body > section, .portfolio {
		padding: 1.6% 0;
		overflow: auto;
	}
}

@media screen and (min-width: 1200px){
	body > section > figure {
		width: 25%;
		margin: 1em 4.16%;
	}

	body > h1 {
		padding: 2em 0;
	}
}