html {
    @include font-smoothing;
    font-family: Source Code Pro;
    font-size: $base;
    font-weight: normal;
}

h1,
h2 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: $white;
}