{
  "extends": [
    "airbnb-typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "react/static-property-placement": [
      "error",
      "static public field"
    ],
    "react/state-in-constructor": [
      "error",
      "never"
    ],
    "max-len": [
      "error",
      {
        "code": 100,
        "tabWidth": 2,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreTrailingComments": true
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "error"
        ]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "draft"
        ]
      }
    ],
    "react/jsx-filename-extension": [
      "off"
    ],
    "react/require-default-props": [
      "off"
    ],
    "react/jsx-one-expression-per-line": [
      "off"
    ]
  },
  "globals": {
    "__DEV__": true,
    "document": true,
    "window": true
  }
}
