body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;;
  background: #FEFEFE;
  color: #2e2e2e;
  font-weight: 300;
}

html,
body,
#root,
main {
  height: 100%;
}

main > header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.links {
  margin-top: 20px;
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.links a {
  width: 24px;
  height: 24px;
  display: block;
  padding: 8px;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

.links a:hover {
  box-shadow: rgba(21, 21, 21, 0.12) 0px 1px 6px, rgba(21, 21, 21, 0.12) 0px 1px 4px;
  background: rgba(21,21,21, 0.1);
  transform: translateY(-1px);
}

.links a img {
  width: 100%;
  height: 100%;
}

main > header h1 {
  font-size: 32px;
  margin: 20px 0;
  font-weight: 500;
}

main > header h2 {
  font-size: 18px;
}

.sjaak {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
