.about {

    > h1 {
        border-bottom: 2px solid $red;
    }

    section {
        width: 95%;

        float: left;

        margin: 1.25%;

        h1 {
            margin-top: 1.25rem;
        }

        p {
            padding: 1.5rem 0;

            font-size: 1.3rem;
        }
    }
}

.skills {
    figure {
        display: block;

        width: 30%;

        float: left;

        margin: 1.66%;

        &:nth-of-type(1):hover img {
            @include pulse();
        }

        &:nth-of-type(2):hover img {
            @include shake();
        }

        &:nth-of-type(3):hover img {
            @include bounce();
        }

        &:nth-of-type(4):hover img {
            @include wobble();
        }

        &:nth-of-type(5):hover img {
            @include jello();
        }

        &:nth-of-type(6):hover img {
            @include swing();
        }

        img {
            width: 100%;
        }

        figcaption {
            margin-top: .65rem;

            font-size: 1.1rem;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

@media screen and (min-width: 700px) {
    .about {

        section {
            width: 45%;

            margin: 2.5%;

            p {
                padding: 1.5rem;
            }
        }
    }
}
