@font-face {
    font-family: Source Code Pro;
    font-weight: lighter;
    src: url('../fonts/SourceCodePro-ExtraLight.ttf');
}

@font-face {
    font-family: Source Code Pro;
    font-weight: normal;
    src: url('../fonts/SourceCodePro-Light.ttf');
}

@font-face {
    font-family: Source Code Pro;
    font-weight: bold;
    src: url('../fonts/SourceCodePro-Semibold.ttf');
}