html {
    @include font-smoothing;
    @include fadeIn($duration: 1.5s, $function: ease-in-out);

    background: $white;

    font-family: Source Code Pro, sans-serif;
    font-size: $base;
    font-weight: $normal;
}

body > section {
    padding: 2.5rem;

    overflow: auto;

    h1 {
        margin-bottom: 1.25rem;

        font-size: 2.5rem;
        font-weight: $light;
        text-align: center;
        text-transform: uppercase;
    }
}
