h1 {
    line-height: 150px;
}

.scroll1 {
    background-image: url("../img/code.png");
    background-position: 10% 44%;
}

.scroll2 {
    background-image: url("../img/turntable.jpg");
    background-position: center 45%;
}

.scroll3 {
    background-image: url("../img/tele.jpg");
    background-position: center 75%;
}
