// Colors
$white:     #FAFAFA;
$black:     #1D1E1C;
$blue:      #3B8DC7;
$red:       #D24E53;
$yellow:    #FDDE71;
$html:      #C52026;
$css:       #0870B8;
$sass:      #CE679A;
$js:        #62A844;
$angular:   #E43136;
$meteor:    #E05453;
$react:     #00D8FF;

// Fonts
$base:      10px;
$light:     100;
$normal:    400;
$bold:      700;
